.transaction_history {
  width: 400px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px #999;
  transition: background-color 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.transaction_history:hover {
  transform: scale(1.02);
}

.title {
  padding: 15px 5px;
  background-color: #54ce95;
  color: #ffffff;
  text-transform: uppercase;
  outline: 2px solid rgb(189, 185, 185);
}

.row {
  font-weight: 400;
  font-size: 16px;
  color: #777b88;
}

.row:nth-child(2n) {
  background-color: rgb(255, 219, 88);
}

.td {
  outline: 2px solid rgb(189, 185, 185);
  padding: 15px 5px;
}
